{% extends 'base.html' %}

{% load static %}

{% block content %}

<h2>ORDENES DE COMPRA</h2>

<form method="get">
    <label for="">Filtro por estado</label>
    <select name="estado" id="estado">
        <option value="">- Todas las OC -</option>
        {% for estado in filtro_estados %}
            <option value="{{ estado }}" {% if estado == estado_seleccionado %}selected{% endif %}>{{ estado }}</option>
        {% endfor %}
    </select>


    <label for="numero">Número de Orden:</label>
    <input type="text" name="numero" id="numero" class="p-1 me-3" value="{{ numero_seleccionado }}">

    <button class="btn btn-primary" type="submit">Filtrar</button>
</form>



{% if listado %}
 
 <table class="table table-striped">
     <thead>
       <tr>
         <th scope="col">Nro OC</th>
         <th scope="col">Cliente</th>
         <th scope="col">Afiliado</th>
         <th scope="col">Fecha de OC</th>
         <th scope="col">Importe</th>
         <th scope="col">Estado</th>
         <th scope="col">Modificar</th>
       </tr>
     </thead>
     <tbody>
        {% for oc in listado %}
       <tr>
         <td>{{ oc.numero }}</td>
         <td>{{ oc.cliente }}</td>
         <td>{{ oc.afiliado }}</td>
         <td>{{ oc.fecha }}</td>
         <td>{{ oc.importe_total}}</td>
         <td>{{ oc.estado }}</td>
         <td><a class="btn btn-light" href="{% url 'oc:modificar_oc' oc.id %}">MODIFICAR</a></td>

         {% endfor %}
       </tr>
     </tbody>
   </table>
     
{% else %}
    <p>No se encontraron resultados para los filtros aplicados.</p>
{% endif %}


{% endblock %}



