{% extends 'base.html' %}

{% load static %}

{% block content %}
 <div>
    <h2 class="pb-3">Clientes</h2>
    <a class="btn btn-primary stretched-link mb-3" href="{% url 'oc:nuevo_cliente' %}">Crear nuevo cliente</a>
 </div>


    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Cliente</th>
            <th scope="col">CUIT</th>
            <th scope="col">Domicilio fiscal</th>
          </tr>
        </thead>
        <tbody>
            {% for cl in cliente %}
          <tr>
            <td>{{ cl.cliente }}</td>
            <td>{{ cl.cuit }}</td>
            <td>{{cl.domiciliocliente}}</td>
            {% endfor %}
          </tr>
        </tbody>
      </table>

{% endblock %}
