{% extends 'base.html' %}

{% load static %}

{% block content %}

<h3>Nueva OC</h3>

<h2>Cargar PDF</h2>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ pdf_form.as_p }}

    <!-- {% if extraido %} 
    <hr> 
    <table class="table table-bordered"> 
        <thead> 
            <tr> 
                <th>Cantidad</th> 
                <th>Descripción</th> 
                <th>Precio Unitario</th> 
            </tr> 
        </thead> 
        <tbody> 
            {% for item in extraido %} 
            <tr> 
                <td>{{ item.cantidad }}</td> 
                <td>{{ item.descripcion }}</td> 
                <td>{{ item.precio_unitario }}</td> 
            </tr> {% endfor %} 
        </tbody> 
    </table> 
    {% endif %} -->

    <button class="btn btn-primary" type="submit" name="upload_pdf">Cargar PDF</button>
</form>

<hr>

<form method="POST">
    {% csrf_token %}
    {{ oc_form.as_p }}
    <button class="btn btn-primary" type="submit">Guardar</button>
</form>

{% endblock %}
